@font-face {
    font-family: 'MyriadPro Light';
    src: url('../fonts/MyriadPro-Light.otf');
    src: url('../fonts/MyriadPro-Light.eot');
    src: url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Light.woff') format('woff'),
         url('../fonts/MyriadPro-Light.ttf') format('truetype'),
         url('../fonts/MyriadPro-Light.svg#MyriadProLight') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro Regular';
    src: url('../fonts/MyriadPro-Regular.otf');
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro Bold';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Bold.woff') format('woff'),
         url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
         url('../fonts/MyriadPro-Bold.svg#MyriadProBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
