/* Ion.RangeSlider, Simple Skin
// css version 1.8.5
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
    background: #5E4F3C;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 10px; top: 25px;
    border-radius: 5px 5px 5px 5px;
}
    .irs-line-left {
        height: 10px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 10px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 10px;
        background-position: 100% -30px;
    }

.irs-diapason {
    height: 6px; top: 25px;
    background-position: 0 -60px;
}

.irs-slider {
    width: 8px; height: 15px;
}
#irs-active-slider, .irs-slider:hover {
    background-position: 0 -120px;
}

.irs-min, .irs-max {
    color: #c0c0c0;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #3654b0;
}

.irs-from, .irs-to, .irs-single {
    color: #000;
    font-size: 16px; line-height: 1.333;
    text-shadow: none;
    padding: 3px 15px;
    background: #DDD600;
    border-radius: 3px;
    
}
.irs-from, .irs-to, .irs-single:after {
    content: url(../img/popover.png);
    position: absolute;
    right: 36%;
    margin-top: 17px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #d8dff3;
}

.irs-grid-pol {
    background: #777;
}
.irs-grid-text {
    color: #e0e0e0;
}

.irs-disabled {
}