body,
h1,
h2,
h3,
p {
    font-family: 'MyriadPro Light', sans-serif;
}
h1,
h2,
h3 {
    text-align: center;
    color: #261e20;
}
h1 {
    font-size: 42px;
    margin-top: 45px;
    margin-bottom: 45px;
}
h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}
h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
p {
    font-size: 18px;
    text-align: center;
}
.btn-main {
    width: 201px;
    height: 47px;
    line-height: 43px;
    color: #abb500;
    border: 2px solid;
    border-radius: 2px;
    display: block;
    text-align: center;
    background-color: transparent;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
-webkit-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;         
}
.btn-main:hover {
    opacity: .8;
}

/* Header
------------------------------------------------------------------------------------ */
.header {
    background: #29241e url(../img/bg.png) repeat 0 0;
}
.header-content {
    margin-top: 47px;
}
.logo {
    margin: 10px auto;
    background: url(../img/logo.png) no-repeat 50% 50%;
    text-indent: -999em;
    width: 159px;
    height: 19px;
    display: block;
-webkit-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;  
}
.logo:hover {
    opacity: .6;
}
.header .btn-main {
    margin: 0 auto 30px;
}
.navbar {
    min-height: 0;
}
.btn-call > .glyphicon {
    margin-top: 6px;
    float: left;
    background: url(../img/phone_img1.jpg);
    margin-right: -5px;
    margin-left: 5px;
    width: 14px;
    height: 26px;
}
.btn-calculator > .glyphicon {
    margin-top: 10px;
    float: left;
    background: url(../img/calculator_img.jpg);
    margin-right: -5px;
    margin-left: 5px;
    width: 14px;
    height: 19px;
}
.top-menu {
    margin: 0;
    border: none;
    background: none;
}
.header .phone {
    display: block;
    text-align: center;
    color: #ABB500;
}
.top-menu li a {
    font-size: 14px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    color: white !important;
    background: none !important;
}
.top-menu .navbar-nav {
    text-align: center;
    float: none;
    margin: auto !important;
}
.top-menu .navbar-nav li {
    float: none;
    display: inline-block;
}
.top-menu li:hover {
    background: #3B3427;
}
.top-menu-popup,
.top-menu-popup > ul {
-webkit-transition: all 0.3s ease-out; 
        transition: all 0.3s ease-out;     
}
.top-menu-popup > ul {
    padding: 0;
    border-radius: 0;
    border: none;
}
.top-menu-popup:hover > ul {
    display: block;
    background: #352D22;
}
.top-menu .top-menu-popup > ul > li {
    text-align: left;
    display: block;
}
.top-menu-popup > ul > li > a:hover {
    color: #66584B;
}

/* Content
------------------------------------------------------------------------------------ */
/* Advantages
------------------------------------------------------------------------------------ */
.advantages {
    margin-top: 50px;
}
.advantages > div {
    margin-bottom: 25px;
}
.advantages > .advantage,
.professional_installation {
    text-align: center;
}
.advantage-round {
    width: 112px;
    height: 112px;
    border: 2px solid #111;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 110px;
}
.advantages > .advantage p {
    margin-top: 30px;
    font-size: 25px;
    line-height: 28px;
}
.advantages > .advantage span {
    margin-top: 20px;
    display: block;
    color: #686868;
}

/* News
------------------------------------------------------------------------------------ */
.carousel-inner .item img {
    width: 100%;
    height: 265px;
}
.slide-mask {
    width: 100%;
    height: 265px;
    margin-top: -265px;
    position: absolute;
    background: #6c6764;
    opacity: .6;
-webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
}
.slide-special:hover .slide-mask {
    opacity: 0;
}
.news {
    margin-top: 50px;
    margin-bottom: 50px;
}
.news > div > header {
    font-family: 'MyriadPro Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    height: 60px;
    line-height: 60px;
-webkit-box-shadow: 5px -5px 3px rgba(180,180,180,.1);
        box-shadow: 5px -5px 3px rgba(180,180,180,.1);
}
.carousel-indicators {
    bottom: 0;
}
.carousel-caption > button {
    font-family: 'MyriadPro Regular', sans-serif;
    font-size: 15px;
	padding: 5px 10px;
    border: 2px solid #f8f8f8;
    border-radius: 2px;
    background: transparent;
}
.slide-special > .carousel-inner > .item > .carousel-caption {
    bottom: 25px;
}
.slide-special > .carousel-inner > .item > .carousel-caption > header {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
}
.reviews-slide p {
    width: 260px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 35px;
}
.reviews-slide .carousel-indicators li {
    border-color: #ccc;
}
.reviews-slide .carousel-indicators .active {
    background: #ccc;
}
.reviews-slide .carousel-caption {
    width: 260px;
    left: 5%;
    bottom: 25px;
}
.reviews-slide .carousel-caption p {
    font-size: 20px;
    color: #545454;
    text-shadow: none;
    margin-bottom: 8px;
}
.reviews-slide .carousel-caption p:before {
    content: url(../img/left-quotes.png);
    position: absolute;
    margin-left: -40px;
    margin-top: -5px;
}
.reviews-slide .carousel-caption p:after {
    content: url(../img/right-quotes.png);
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}
.reviews-slide .carousel-caption button {
    width: 147px;
    height: 41px;
    border: 2px solid #665559;
    color: #665559;
    border-radius: 2px;
    background: transparent;
}
.reviews {
    width: 305px;
    height: 265px;
    background: #fff;
}
.reviews-slide .carousel-caption .reviews-author {
    color: #000000;
    font-family: 'MyriadPro Light', sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    margin-bottom: 25px;
}
.reviews-slide .carousel-caption .reviews-author:before {
    content: none;
}
.reviews-slide .carousel-caption .reviews-author:after {
    content: none;
}
.info-slide .carousel-caption {
    width: 260px;
    left: 5%;
    bottom: 20px;
}
.info-slide h2 {
    height: auto;
    background: transparent;
    line-height: 25px;
    font-size: 22px;
    text-shadow: none;
    color: #fff;
    margin-bottom: 25px;
    font-family: 'MyriadPro Light', sans-serif;
}
.info-slide p {
    font-size: 14px;
}

/* Наши работы
------------------------------------------------------------------------------------ */
.our-work {
    background: #29241e url(../img/bg.png) repeat 0 0;
    padding-bottom: 0px;
}
.our_works h1 { /* TODO: WTF?? */
    color: white;
    font-family: 'MyriadPro light', sans-serif;
    font-size: 40px;
}
.our_works {
    text-align: center;
    margin-bottom: 30px;
}
.our_works p {
    margin-top: 30px;
    line-height: 23px;
    font-size: 20px;
    color: white;
}
.our_works .work {
    margin-top: 30px;
}

/* Professional installation
------------------------------------------------------------------------------------ */
.professional_installation {
    padding-top: 45px;
    padding-bottom: 65px;
}
.professional_installation h1 {
    margin-bottom: 70px;
}
.professional_installation p {
    margin: 0;
    line-height: 23px;
}
.professional_installation .btn_main {
    margin: 50px auto 0;
    color: #161511;
    border-radius: 2px;
    border: 2px solid #161511;
}
.professional_installation .btn_main .glyphicon {
    background: url(../img/phone_img2.jpg);
    margin-top: 6px;
    margin-right: -5px;
    margin-left: 5px;
    float: left;
    width: 14px;
    height: 26px;
}

/* Footer
------------------------------------------------------------------------------------ */
footer {
    background: url(../img/header_bg.png);
    background-color: #2D2527;
}
.footer .phone {
    margin-top: 60px;
    color: white;
    text-align: center;
    font-size: 36px;
    font-family: 'MyriadPro light', sans-serif;
}
.footer {
    position: relative;
    padding-top: 30px;
}
.scroll_up {
    margin-top: 30%;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border: none;
    background: url(../img/scroll_up_bg.png);
    outline: none;
    opacity: .4;
}
.footer span {
    margin-top: 10px;
    display: block;
    color: white;
    text-align: center;
    font-size: 15px;
}
.footer_links {
    margin-top: 55px;
}
.footer_links .links{
    color: white;
}
.footer_links .links li {
    display: inline-block;
    list-style: none;
}
.footer .copyright {
    color: white;
    font-size: 14px;
}

/* Modal
------------------------------------------------------------------------------------ */
.modal-dialog {
    width: 580px;
    height: 160px;
    margin-top: 300px;
    background: transparent;
}
.modal-content {
    background: transparent;
}
.modal-header {
    border-bottom: 0px;
    background: #eee;
    border-top: 2px solid #3C3327;
    border-left: 2px solid #3C3327;
    border-right: 2px solid #3C3327;
    border-radius: 10px 10px 0px 0px;
}
.modal-header h4 {
    margin-left: 35px;
    font-size: 18px;
    font-family: 'MyriadPro light', sans-serif;
}
.modal-body {
    padding-top: 0px;
    background: #eee;
    border-bottom: 2px solid #3C3327;
    border-left: 2px solid #3C3327;
    border-right: 2px solid #3C3327;
    border-radius: 0px 0px 10px 10px;
}
.modal-body input {
    width: 250px;
    height: 47px;
    margin-left: 35px;
    border: 2px solid #3C3327;
    border-radius: 4px;
    font-size: 27px;
    font-family: 'MyriadPro light', sans-serif;
}
.modal-body .btn_main {
    margin: 0 auto 30px;
    border: 1px solid #6B5B5F;
    color: #352D22;
    background: #D9D900;
    margin-right: 45px;
    float: right;
}
.modal-body .call .glyphicon {
    margin-top: 6px;
    float: left;
    background: url(../img/phone_img3.jpg);
    margin-right: -5px;
    margin-left: 5px;
    width: 14px;
    height: 26px;
}

/* Text
------------------------------------------------------------------------------------ */

.text-format ul {
    font-family: 'MyriadPro light', sans-serif;
    font-size: 19px;
    text-align: center;
    list-style: none;
}
.response-container {
    margin-bottom: 90px;
}
.single-response {
    border-bottom: 1px dotted #998E80;
    margin-bottom: 45px;
}
.response-area {
    text-align: center;
    font-size: 30px;
    font-family: 'MyriadPro light', sans-serif;
    position: relative;
    color: #444;
}
.response-area > a {
    color: #28241E;
    border-bottom: 1px solid #28241E;
    margin-bottom: 30px;
}
.response-area > a:hover {
    text-decoration: none;
    border-bottom: 0px;
}
.response-date {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    border: 1px dotted #A19F9C;
    border-radius: 10px;
    padding: 10px 20px;
    color: #A19F9C;
}
blockquote {
    border-left: 0px;
    color: #7D7D7D;
}
blockquote:before {
    content: url(../img/left-quotes.png);
    position: absolute;
    margin-left: -60px;
    margin-top: -5px;
}
blockquote:after {
    content: url(../img/right-quotes.png);
    position: absolute;
    margin-left: 35px;
    margin-top: 5px;
}
.response-area button {
    background: #fff;
    border: 2px solid #665559;
    border-radius: 3px;
    color: #665559;
    font-size: 15px;
    padding: 10px 30px;
    margin-bottom: 30px;
}

/* Calculator
------------------------------------------------------------------------------------ */
.calculator-area {
    height: 420px;
    background: #eee;
    border: 2px solid #3B3227;
    border-radius: 10px;
    margin-bottom: 90px;
    overflow: hidden;
}
.calculator-height {
    height: 800px;
    transition: .5s;
}
.range-sliders {
    margin-top: 45px;
}
.range-sliders p {
    font-size: 14px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: right;
    font-weight: bold;
    color: #3B3226;
}
.irs-slider {
    width: 30px !important;
    height: 30px !important;
    margin-top: 5px;
    background: url(../img/range-round.png) no-repeat !important;
}
.calculator-prev {
    width: 150px;
    height: 146px;
    border: 2px solid #121212;
    border-radius: 3px;
    margin-top: 110px;
    background: #fff;
}
.calculator-prev:before {
    content: url(../img/arrow-top.png);
    position: absolute;
    margin-top: -45px;
    margin-left: -2px;
}
.calculator-prev:after {
    content: url(../img/arrow-left.png);
    position: absolute;
    margin-left: 150px;
    margin-top: -2px;
}
.top-round {
    width: 35px;
    height: 35px;
    background: #cccccc;
    color: #fff;
    border-radius: 18px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    position: absolute;
    z-index: 2;
}
.left-round {
    width: 35px;
    height: 35px;
    background: #ccc;
    color: #fff;
    border-radius: 18px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    position: absolute;
    z-index: 2;
}
.top-round {
    margin-top: -43px;
    margin-left: 55px;
}
.left-round {
    margin-top: 50px;
    margin-left: 155px;
}
.calculator-area p {
    font-size: 14px;
    line-height: 33px;
    color: #3B3226;
}
.sum h2 {
    text-align: right;
    margin-top: 0;
    margin-bottom: 10px;
}
.sum p {
    text-align: right;
    margin-top: 0;
    font-size: 22px;
    font-family: 'MyriadPro Regular' sans-serif;
    font-weight: bold;
}
.calculator-area hr {
    border-top: 1px dashed #978C7E;
}
.calculator-area p {
    text-align: right;
}
.before-checkbox {
    margin-bottom: 40px;
}
input + label {
    padding-left: 2px;
    vertical-align: middle;
}
input[type="checkbox"],
input[type="radio"]{
    width: 24px;
    height: 26px;
    position:relative;
    z-index: 10;
    opacity: 0;
    vertical-align: middle;
}
input[type="radio"] {
    height: 22px;
    width: 22px;
}
input + label:before {
    content: " ";
    background: url(../img/checkboxa.png) no-repeat left -2px;
    width: 33px;
    height: 31px;
    position: absolute;
    left: 0;
    top: 0;
    display:inline-block;
    z-index: 5;
}
input[type="checkbox"] + label:before {
    background-position: left -3px;
}
input[type="radio"] + label:before {
    background-position: -36px -3px;
}
input[type="checkbox"]:hover + label:before,
input[type="checkbox"] + label:hover:before  {
    background-position: left -34px;
}
input[type="checkbox"]:focus + label:before {
    background-position: left -65px;
}
input[type="radio"]:hover + label:before,
input[type="radio"] + label:hover:before {
    background-position: -36px -34px;
}
input[type="radio"]:focus + label:before {
    background-position: -36px -65px;
}
input[type="checkbox"]:checked + label:before {
    background-position: left -133px;
}
input[type="checkbox"]:hover:checked + label:before,
input[type="checkbox"]:focus:checked + label:before {
    background-position: left -166px;
}
input[type="checkbox"]:active:checked + label:before {
    background-position: left -199px;
}
input[type="radio"]:checked + label:before {
    background-position: -36px -133px;
}
input[type="radio"]:hover:checked + label:before,
input[type="radio"]:focus:checked + label:before {
    background-position: -36px -166px;
}
input[type="radio"]:active:checked + label:before {
    background-position: -36px -199px;
}
input[type="checkbox"]:disabled + label:before {
    background-position: left -96px;
}
input[type="radio"]:disabled + label:before {
    background-position: -36px -96px;
}
input[type="checkbox"]:checked:disabled + label:before {
    background-position: left -232px;
}
input[type="radio"]:checked:disabled + label:before {
    background-position: -36px -232px;
}
label {
    color: #999;
}
input + label:hover,
input:hover + label {
    color: #555;
}
input:disabled + label {
    color: #ccc;
}
.checkbox-p {
    width: 130px;
    float: left;
    position: relative;
}
.checkbox-title {
    font-size: 15px;
    font-weight: bold;
    font-family: 'MyriadPro Regular' sans-serif;
    color: #3C3225;
}
.calculator-button {
    height: 47px;
    width: 175px;
    border-top: none;
    border-left: 2px solid #453D32;
    border-right: 2px solid #453D32;
    border-bottom: 2px solid #453D32;
    border-radius: 0 0 5px 5px;
    margin-top: -92px;
    background: #eee;
    display: block;
    margin-left: 370px;
    margin-bottom: 45px;
    cursor: pointer;
    font-size: 18px;
}
.calculator-button:focus {
    outline: none;
}
.calculator-area label {
    width: 90px;
    text-align: left;
    margin-left: 15px;
    float: right;
    color: #3B3225;
    font-size: 15px;
    font-weight: bold;
    font-family: 'MyriadPro Regular' sans-serif;
}
.sale-title {
    margin-bottom: 34px;
}
.your-sale {
    height: 120px;
    width: 149px;
    margin-bottom: 35px;
    position: relative;
}
.your-sale img {
    position: absolute;
    margin-top: 37px;
    left: 35%;
}
.your-sale p {
    width: 136px;
    font-size: 14px;
    padding-top: 90px;
}
.active-sale {
    background: #352D22;
    border-radius: 8px;
}
.your-sale-final {
    height: 167px;
    margin-bottom: 40px;
    box-shadow: 0 5px 30px #e3e3e3;
}
.your-sale-final h2 {
    margin-bottom: 0px;
}
.your-sale-final h1 {
    font-size: 72px;
    margin-top: 0px;
    color: #666666;
}
.order-sum h2 {
    margin-top: 12px;
    text-align: right;
}
.order-button .btn_main {
    margin: 0 auto 30px;
    border: 1px solid #6B5B5F;
    color: #352D22;
    background: #D9D900;
    margin-right: 45px;
    float: left;
}
.order-button .call .glyphicon {
    margin-top: 6px;
    float: left;
    background: url(../img/phone_img3.jpg);
    margin-right: -5px;
    margin-left: 5px;
    width: 14px;
    height: 26px;
}
.calculator-link {
    height: 120px;
    text-align: center;
}
.calculator-link p {
    margin-bottom: 0px;
    color: #535353;
}
.calculator-link a {
    padding-bottom: 25px;
    font-family: 'MyriadPro Regular' sans-serif;
    font-size: 18px;
    color: #535353;
    text-decoration: underline;
}
.calculator-link a:hover {
    text-decoration: none;
}

/* Yandex Map
------------------------------------------------------------------------------------ */
.yandex-map {
    margin-top: 30px;
    margin-bottom: 68px;
}